html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fbfff4;
  height: 20%;
  width: 100%;
}

main {
  display: flex;
  background-color: #92c9d5;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
}

footer {
  background-color: #daeeef;
  height: 80%;
  width: 100%;
}
.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #fcf2ec;
}
